h1  {
    text-align: center;
    color: #228ae6;
    margin-top: 0px;
    font-size: 18px;
}

h1 span:nth-child(3){
    color:red;
}
h1 span:nth-child(1){
    color:#319dd4;
}

.search-bar{ 
    width:300px
}

.container  {
    text-align: left; 
}
#dm1 {
    text-align: : left;
}
#dm2 {
    text-align: : right;
}
 

.button-group{
    margin-top:15px;
   
}

.navbar-light  {
    background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar-brand {
    float: left;
    height: 25px;
    padding: 0px 0px;
    font-size: 18px;
    line-height: 20px;
}